#code-card {
  margin-bottom: 50px;
}

.card :focus {
  outline: none !important;
  border: 1px solid red;
}

.collection .collection-item.active{
  background-color: white;
  color: black;
}

span.stars {
  display: inline-block;
  background: url(stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;

  span {
    position: absolute;
    background: url(stars.png) 0 0 repeat-x;
    height: 16px;
  }
}

.absolute-center{
  right:50%;
  bottom:50%;
  transform:translate(50%,50%);
  position:absolute;
}

.bottom-left{
  bottom:15%;
  left:10%;
  position: absolute;
}

.restaurant-entry {
  .collapsible-header {
    $top-bottom-padding: 15px;
    padding-top: $top-bottom-padding;
    padding-bottom: $top-bottom-padding;
  }

  p {
    line-height: 2;
  }
}

.user-count-wrapper {
  display: inline-block;
}
